<div class="container">
  <div class="row">
    <div class="col">
      <p><p><p>
        <img src="./assets/mariadb.png" width="200px">
        <h5>All data on this page <br>is stored and retreieved <br>from a MariaDB database</h5>

    </div>
    <div class="col">
      <form [formGroup] = "form" (ngSubmit)="submitForm()">
        <div class="form-row">

          <p><p><p>
            <h1>Write Data</h1>
          <p>  <div class="form-group col-md-6">
            <label for="inputEmail4">ID</label>
            <input type="name" class="form-control" id="_id" formControlName="_id" placeholder="ID">
          </div>
          <p>  <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="name" class="form-control" id="name" formControlName="name" placeholder="Name">
          </div>
          <p><div class="form-group col-md-6">
            <label for="inputPassword4">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          </div>
          <p><div class="form-group col-md-6">
            <label for="inputPassword4">City</label>
            <input type="name" class="form-control" id="city" formControlName="city" placeholder="City">
          </div>
        </div>
        <p><p><button type="submit" class="btn btn-primary">Submit</button>
      </form>


    </div>
    <div class="col">
      <p><p><p>

      <h1>Read Data</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of requests">
            <th scope="row">{{item._id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.city}}</td>
            <td> <button class="btn btn-red" (click)="removeItem(item._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
              </svg>
                </button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
